.badass {

  input {
    display: block;
    padding: 10px;
  }

  input[type="submit"] {
    margin: 5px;
    border-radius: 3px;
    background-color: #10ADED;
    color: #FFF;
    font-weight: bold;
  }

}


